.remove-btn{
    cursor: pointer;
}

.counter-btns{
    display: flex;
    justify-content: center;
}

.counter-btns button{
   margin: 0 5px;
   text-transform: lowercase;
}

.namecard{
    text-transform: capitalize;
}